@{
    ViewData["Title"] = "Gallery";
}

<div class="container mt-4">
    <h1 class="h4 mb-3">Gallery</h1>

    <hr />
    <p>Watch YouTube demo</p>
    <div class="ratio ratio-16x9 mb-2">
        <iframe src="https://www.youtube-nocookie.com/embed/w-mKc8zRkAc?rel=0"
                title="Draught Survey Web App — demo"
                loading="lazy"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </div>

    <hr />
    <p>Moments of the draught survey</p>
    <div class="row g-3">
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_075916.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_075943.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_081834.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_114942.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_164705.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_165001.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_170010.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_170035.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_170849.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_173109.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_173442.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_181715.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250219_183001.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250220_080520.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250220_080641.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250220_115022.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250220_131324.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250224_160019.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250224_160105.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250224_161753.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250224_162103.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250224_162141.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250224_162145.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250224_162302.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250224_162341.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250224_162943.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_072101.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_080904.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_080907.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_080909.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_080952.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_081559.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_081615.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_081954.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_082214.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_095442.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_141828.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250307_152449.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250307_152501.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250307_152721.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250307_152743.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250307_152748.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250316_111106.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250617_133944.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250619_133018.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250619_133042.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250619_133125.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_073210.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250627_074234.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/DSCN1310.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/DSCN1330.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/DSCN1655.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_0681.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_0964.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_0966.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20190809_165101.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20190824_201451_1.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20190824_202001.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20200422_094730_1.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20200510_075740.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20200528_180821.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20200721_062759.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20200721_062858.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20200721_132142_1.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20201105_122745.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20231107_060649.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20231121_141356.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240122_073421.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240205_112801.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240208_131133.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240213_150724.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240309_102119.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240406_070101.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240409_123812.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240413_114209.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240413_114213_1.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240413_114451.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240413_114502.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240413_114639_1.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240417_113935_1.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240417_114159.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240417_114216.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240417_114320.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240419_184142.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMG_20240604_060626_1.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMGP5635.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMGP5642.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMGP5654.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMGP5655.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/IMGP5660.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/photo_2021-10-07_13-49-25.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/photo_2021-10-07_13-49-26.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/photo_2021-10-07_13-49-27.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/photo_2021-10-07_13-49-32.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/photo_2021-10-07_13-49-33.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/photo_2021-11-08_13-30-45.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/photo_2021-11-08_13-30-48.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/photo_2021-11-08_18-38-59.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/photo_2021-11-08_18-39-05.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-transparent border-0">
            <img id="modalImage" src="" class="img-fluid rounded shadow" alt="Full image">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const modal = new bootstrap.Modal(document.getElementById("imageModal"));
            const modalImg = document.getElementById("modalImage");

            document.querySelectorAll(".gallery-img").forEach(img => {
                img.addEventListener("click", () => {
                    modalImg.src = img.src;
                    modal.show();
                });
            });
        });
    </script>
}
