@{
    ViewData["Title"] = "About - Trucks Weighing Web App";
}

<div class="container mt-4">
    <h1 class="h4 mb-3">About</h1>
    <hr />

    <p>
        This web application is designed for cargo surveyors and tally teams to perform accuratre weight caontrol during cargo operations with trucks, during loading or discharging.
    </p>

    <p>
        It allows you to keep your data securely in the cloud storage and perform records across multiple devices as well as for tally team.
    </p>


    <h2 class="h4 mt-4">Features</h2>
    <hr />


    <p>The app simplifies the trucks weight control process, and ensures reliable and consistent reporting.</p>
    <p>Keep your data securely in the database and perform surveys across multiple devices.</p>
    <p>Create, edit, delete, and store your inspections.</p>        
    <p>Add and update your notes during trucks weight control, available for tally team.</p>
    <p>Export daily and summary reports to PDF using standard template for trucks weight control.</p>    

    <hr />
    <p class="small text-muted mt-4">
        See also our <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>.
    </p>
    
</div>

